// ABOUT CONTAINER STНДШТП
.about-container{
    display: flex;
    flex-direction: row;
    height: auto;
    background: #1E1F26;
    padding: 40px 0;
}

.about-container>div{
    width: 50%;
}

.about-me{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    h2{
       text-align: center;
    }
    p{
        font-size: 20px;
    }
    a{
        text-transform: lowercase;
        color:#e91e63;
    }
    a:hover,
    a:focus{
        font-weight: bold;        
    }
    .btn{
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly;    
    }
    .btn a{
        width: 150px;
        padding: 10px 0;
        border: 4px solid #e91e63;
        background: #1E1F26;
        border-radius: 50px;
        font-size: 12px;
        text-align: center;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase; 
    }
    .btn a:hover,
    .btn a:focus{
        border: 4px solid #9B8E35;
    }
}

.img-box{
    display: flex;
    justify-content: center;    
}

.frame{
    width: 350px;
    height: 350px;
    margin: 60px 0 20px -40px;
    border: 8px solid #e91e63;
}

.portfolio-img{
    width: 350px;
    height: 350px;
    border: 8px solid #9B8E35;;
    margin: -40px -20px 20px 20px;
    img{
        width: 100%;
        height: auto;
    }
}
// EXPERIENCE CONTAINER styling
.experience-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #1E1F26;
}
.resume-box{
    width: 100%;
    height: 280px;
    background:  #FBC91C; 
    display: flex; 
    flex-direction: column;
    align-items: center;  
    padding: 10px 20px; 
    color: #000;
     h2{
        padding: 0;
        font-size:200px;
        letter-spacing: 4px;
        opacity: 0.2;
    } 
}

.experience-box{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;  
    color: #ffffff;  
    margin-top: -100px;  
    letter-spacing: 1px;
    h2{
        font-size: 35px ;
        color: #000;       
    }
    h4{
        padding: 15px 5px 0 0;
    }
    summary{
        padding: 15px 5px 0 0;
        font-size: 14px;
    }
    .box{
        width: 80%;
        height: 170px;
    } 
    span{
       padding: 5px; 
       font-size: 12px;
       background:#e91e63;
    }
}

.experience-box > div{
    width: 50%;
}

.education-skill{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 40px;
    .box{
        text-align: right;
        border-right: 4px dotted #e91e63;
    } 
    span{
       margin-right: -4px;
    }
}

.experience-skill{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    h4,
    summary{
       margin-left: 4px;
       letter-spacing: 1px;
    }
    .box{
        border-left: 4px dotted #e91e63;
    } 
    span{
       margin-left: -4px;
    }
}

.experience-container .btn{    
    margin: -100px auto 40px;
    a{
        font-size: 14px;
        border: 4px solid #e91e63;
        border-radius: 50px;
        background: #1E1F26;
        padding: 15px;
        color: #ffffff;
    }
    a:hover,
    a:focus{
       border: 4px solid #9B8E35;
    }
}


// SKILLS & TOOLS styling
.skills-container{
    width: 100%;
    background: #2A2C47;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    img{
        width:30%;
    }
}

.skill-text{
    text-align: center;    
}

.skills-boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(30,31,38, 0.7);
    padding: 40px 0;    
}
.skills-boxes > div{
    width: 15%;
    height: 200px;    
    display: flex;
    justify-content: center;
    align-items: center;    
}
.skills-container .skill-box{
    display: flex;
    flex-direction: column;
    margin: 10px;
    p{
        font-size: 20px;
    }
   
}
// PROJECT styling
.projects-container{
    background: #2A2C47;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    h2{
        padding: 20px 0;
        font-size:250px;
        letter-spacing: 4px;
        opacity: 0.2;
    }   
    h3{
         background: rgba(42,44,71, 0.9);
         padding: 15px 40px;
         border-radius: 15px;
         letter-spacing: 4px;
         margin: 10px 0;         
    }
    summary{
        font-size: 18px;
        padding: 0 20px 20px 20px;
        line-height: 22px;
    }
    ul{
        padding: 0 20px 5px 20px;
        color: #e91e63;
        font-size: 20px;
    }
    ul li{
        display: inline-block;       
    }
    a{
        margin: 5px 20px;
        padding-bottom: 5px;
    }
    a:hover{
        border-bottom: 2px solid #e91e63;
        transition: border-bottom 0.4s, color 0.4s;
    }
}

.project-title{
    width:100%;
    text-align: center;
}

.project-boxes{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     img{
        width: 90%;
        border-radius: 10px;  
        border: 5px solid #9B8E35;
        position: absolute;
    }
}

.project-boxes > div{
    width: 50%;
    height: 360px;
    position: relative;
}

.project-box:nth-child(1),
.project-box:nth-child(5){
    text-align: end;
    h3{
        display: inline-block;
        margin-right: -100px;
        position: relative;
        z-index: 4;
    }
}

.project-box:nth-child(2){
    img{
        margin: -130px 0 0 -40px; 
    }
}

.project-box:nth-child(3),
.project-box:nth-child(7){    
    img{
        margin: -100px 0 0 65px; 
    }
}
.project-box:nth-child(4),
.project-box:nth-child(8){ 
    h3{
        margin-left: -80px;      
    }
}
.project-box:nth-child(6){
    img{
        margin: -100px 0 0 -40px;
    }   
}

.project-box{
    padding: 20px;
}

// CONTACT INFO styling
.contact-container{
    background: #1E1F26;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 20px 0 50px 0;
    span{
        color:#e91e63;
    }
}

.info-title{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.contact-info-box{
    display: flex;
    flex-direction: row;
}

.info-box{
    width: 40%;
    padding: 0 20px;
    p{
        font-size: 20px;
    }
    ul li{
        display: inline-block;
    }
}

.email-box{
    width: 60%;
    padding: 0 20px;    
    form{
        display: flex;
        flex-direction: column;
        font-size: 16px;       
        input{
            width: 50%;
            height: 30px;
            border-radius: 3px;
            border: none;
            margin: 15px 0;
            padding-left: 15px;
            background: #2A2C47;            
        }
        textarea{
            border-radius: 2px;
            border: none;
            margin: 15px 0;
            padding: 15px;
            background: #2A2C47;
            resize: vertical;
            width: 100%;
            height: 150px;
        }
        input:hover,
        input:focus,
        textarea:hover,
        textarea:focus{            
            border: none;            
            background: #ffffff;
            color: #000000;
        }

        button{
            width: 50%;
            background: #2A2C47;
            border-radius: 2px;
            border: 3px solid #e91e63;
            padding: 5px 0;
            color: #ffffff;
        }
        button:hover,
        button:focus{
            border: 3px solid #3889B8;
        }
    }
    #status{
        width: 50%;
        text-align: center;
        padding: 10px;        
        margin: 10px 0;
        border-radius: 50px;
        font-size: 18px;
    }
    #status.success{
        background:#e91e63;
        animation: status 5s ease forwards;
    }
    #status.error{
        background:#ffb510;
        color:#000000;
        animation: status 5s ease forwards;
    }

    @keyframes status {
        0%{
            opacity:1;
            pointer-events: all;
        }
        90%{
            opacity:1;
            pointer-events: all;
        }
        100%{
            opacity:0;
            pointer-events: none;
        }
        
    }
}









// NAV ICONS styling
.fa-code,
.fa-info,
.fa-laptop-code,
.fa-at{
    // background: blue;
    margin: 0 10px ;
    padding: 25px 10px;
    color: #e91e63;
    font-size: 25px;
}
.fa-info{
    margin: 0 10px 0 20px ;
}


// SKILLS ICONS styling
.fa-js-square,
.fa-html5,
.fa-css3-alt,
.fa-sass,
.fa-react,
.fa-github-square,
.fa-database,
.fa-jira{
    font-size: 60px;
    color: #e91e63;
}

// CONTACT ICONS styling
.fa-linkedin-in,
.fa-github,
.fa-paper-plane{
    font-size: 30px;
    color:#e91e63;
    padding: 0 10px;
}

.fa-linkedin-in:hover,
.fa-github:hover,
.fa-paper-plane:hover,
.fa-linkedin-in:focus,
.fa-github:focus,
.fa-paper-plane:focus{
    color:#3889B8;
}
.fa-paper-plane{
    font-size: 15px;
}



