html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: #ffffff;
  padding: 20px 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
  margin: 0;
}

p {
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
}

.colors {
  background: #FBC91C;
  color: #9B8E35;
  color: #2A2C47;
  background-color: #3889B8;
  color: #1E1F26;
}

header {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.header-container {
  width: 100%;
  height: 480px;
  background: #2A2C47;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .title-box {
  width: 70%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container .title-box .title-section {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.header-container .title-box .title-section .title {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin: 10px 0;
}

.header-container .title-box .title-section .title .block {
  width: 0%;
  height: inherit;
  background: #ffb510;
  -webkit-animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.header-container .title-box .title-section .title h1 {
  -webkit-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  letter-spacing: 2px;
}

.header-container .title-box .title-section .title h1 span {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #ffb510;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  margin-left: 5px;
  margin-top: 0px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}

.header-container .title-box .title-section .position-title {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

.header-container .title-box .title-section .position-title .block {
  width: 0%;
  height: 40px;
  background: #e91e63;
  position: absolute;
  -webkit-animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container .title-box .title-section .position-title p {
  -webkit-animation: secFadeIn 2s forwards;
          animation: secFadeIn 2s forwards;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  opacity: 0;
  color: #e91e63;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

.header-container .nav-menu {
  position: relative;
  width: 30%;
}

.header-container .nav-menu img {
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
  width: 15%;
  padding: 2px;
}

.header-container .nav-menu h3 {
  text-align: center;
  display: hidden;
  padding-left: 8px;
}

.header-container .nav-menu li {
  list-style: none;
}

.header-container .nav-menu .btn1 {
  top: -200px;
}

.header-container .nav-menu .btn2 {
  top: -100px;
}

.header-container .nav-menu .btn3 {
  top: 0px;
}

.header-container .nav-menu .btn4 {
  top: 100px;
}

.header-container .nav-menu div.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  border: none;
  border-radius: 50px;
  width: 350px;
  margin: 20px 0;
  right: -280px;
  position: absolute;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  color: white;
}

.header-container .nav-menu div.button:hover,
.header-container .nav-menu div.button:focus {
  background-color: white;
  right: -50px;
  width: 300px;
}

.header-container .nav-menu div.button:hover h3,
.header-container .nav-menu div.button:focus h3 {
  color: #000000;
}

.header-container .nav-menu div.button.btn2:hover,
.header-container .nav-menu div.button.btn2:focus {
  width: 300px;
}

.header-container .nav-menu div.button.btn2:hover h3,
.header-container .nav-menu div.button.btn2:focus h3 {
  color: #e91e63;
}

.header-container .nav-menu div.button.btn3:hover,
.header-container .nav-menu div.button.btn3:focus {
  width: 300px;
}

.header-container .nav-menu div.button.btn3:hover h3,
.header-container .nav-menu div.button.btn3:focus h3 {
  color: #ffb510;
}

.header-container .nav-menu div.button.btn4:hover,
.header-container .nav-menu div.button.btn4:focus {
  width: 300px;
}

.header-container .nav-menu div.button.btn4:hover h3,
.header-container .nav-menu div.button.btn4:focus h3 {
  color: #3889B8;
}

.header-container .nav-menu .div.button:active {
  background-color: #2c3e50;
  -webkit-transition: 0s;
  transition: 0s;
  color: #ecf0f1;
}

@-webkit-keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 8px;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 8px;
  }
}

@-webkit-keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  background: #1E1F26;
  padding: 40px 0;
}

.about-container > div {
  width: 50%;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
}

.about-me h2 {
  text-align: center;
}

.about-me p {
  font-size: 20px;
}

.about-me .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about-me .btn button {
  width: 150px;
  padding: 10px 0;
  border: 4px solid #e91e63;
  background: #1E1F26;
  border-radius: 50px;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.about-me .btn button a {
  font-size: 12px;
}

.about-me .btn button:hover,
.about-me .btn button:focus {
  border: 4px solid #9B8E35;
}

.img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frame {
  width: 350px;
  height: 350px;
  margin: 60px 0 20px -40px;
  border: 8px solid #e91e63;
}

.portfolio-img {
  width: 350px;
  height: 350px;
  background-color: #9B8E35;
  margin: -40px -20px 20px 20px;
}

.experience-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1E1F26;
}

.resume-box {
  width: 100%;
  height: 280px;
  background: #FBC91C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  color: #000;
}

.resume-box h2 {
  color: #000;
}

.experience-box {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
  color: #ffffff;
}

.experience-box h4 {
  padding: 15px 5px 0 0;
}

.experience-box summary {
  padding: 15px 5px 0 0;
  font-size: 14px;
}

.experience-box .box {
  width: 70%;
  height: 200px;
}

.experience-box span {
  padding: 5px;
  font-size: 12px;
  background: #e91e63;
}

.experience-box > div {
  width: 50%;
}

.education-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 40px;
}

.education-skill .box {
  text-align: right;
  border-right: 4px dotted #e91e63;
}

.education-skill span {
  margin-right: -4px;
}

.experience-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 40px;
}

.experience-skill .box {
  border-left: 1px dashed #e91e63;
}

.experience-skill span {
  margin-left: -2px;
}

.experience-container .btn {
  margin: -100px auto 40px;
}

.experience-container .btn button {
  border: 4px solid #e91e63;
  border-radius: 50px;
  background: #1E1F26;
  padding: 15px;
  color: #ffffff;
}

.experience-container .btn button:hover,
.experience-container .btn button:focus {
  border: 4px solid #9B8E35;
}

.skills-container {
  width: 100%;
  background: #2A2C47;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

.skills-container img {
  width: 30%;
}

.skills-container img:hover .skill-box p,
.skills-container img:focus .skill-box p {
  display: block;
}

.skill-text {
  text-align: center;
}

.skills-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(30, 31, 38, 0.7);
  padding: 40px 0;
}

.skills-boxes > div {
  width: 15%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-container .skill-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.skills-container .skill-box p {
  font-size: 20px;
}

.projects-container {
  background: #2A2C47;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

.projects-container h2 {
  padding: 20px 0;
  font-size: 250px;
  letter-spacing: 4px;
  opacity: 0.2;
}

.projects-container h3 {
  background: rgba(42, 44, 71, 0.9);
  padding: 15px 40px;
  border-radius: 15px;
  letter-spacing: 4px;
  margin: 10px 0;
}

.projects-container summary {
  font-size: 18px;
  padding: 0 20px 20px 20px;
  line-height: 22px;
}

.projects-container ul {
  padding: 0 20px 5px 20px;
  color: #e91e63;
  font-size: 20px;
}

.projects-container ul li {
  display: inline-block;
}

.projects-container a {
  margin: 5px 20px;
  padding-bottom: 5px;
}

.projects-container a:hover {
  border-bottom: 2px solid #e91e63;
  -webkit-transition: border-bottom 0.4s, color 0.4s;
  transition: border-bottom 0.4s, color 0.4s;
}

.project-title {
  width: 100%;
  text-align: center;
}

.project-boxes {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-boxes > div {
  width: 50%;
  height: 400px;
  position: relative;
}

.project-boxes img {
  width: 80%;
  border-radius: 10px;
  border: 5px solid #9B8E35;
  position: absolute;
}

.project-box:nth-child(1),
.project-box:nth-child(5) {
  text-align: end;
}

.project-box:nth-child(1) h3,
.project-box:nth-child(5) h3 {
  display: inline-block;
  margin-right: -100px;
  position: relative;
  z-index: 4;
}

.project-box:nth-child(2) img {
  margin: -130px 0 0 -40px;
}

.project-box:nth-child(3) img,
.project-box:nth-child(7) img {
  margin: -100px 0 0 120px;
}

.project-box:nth-child(4) h3,
.project-box:nth-child(8) h3 {
  margin-left: -80px;
}

.project-box:nth-child(6) img {
  margin: -100px 0 0 -40px;
}

.project-box {
  padding: 20px;
}

.contact-container {
  background: #1E1F26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  padding: 20px 0 50px 0;
}

.contact-container span {
  color: #e91e63;
}

.info-title {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.contact-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info-box {
  width: 40%;
  padding: 0 20px;
}

.info-box p {
  font-size: 20px;
}

.info-box ul li {
  display: inline-block;
}

.email-box {
  width: 60%;
  padding: 0 20px;
}

.email-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
}

.email-box form input {
  width: 50%;
  height: 30px;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  padding-left: 15px;
  background: #2A2C47;
  color: #ffffff;
}

.email-box form textarea {
  border-radius: 20px;
  border: none;
  margin: 15px 0;
  padding: 15px;
  background: #2A2C47;
  color: #ffffff;
  resize: none;
}

.email-box form button {
  width: 50%;
  background: #2A2C47;
  border-radius: 30px;
  border: 4px solid #e91e63;
  padding: 5px 0;
  color: #ffffff;
}

.email-box form button:hover,
.email-box form button:focus {
  border: 4px solid #3889B8;
}

.fa-code,
.fa-info,
.fa-laptop-code,
.fa-at {
  margin: 0 10px;
  padding: 25px 10px;
  color: #e91e63;
  font-size: 25px;
}

.fa-info {
  margin: 0 10px 0 20px;
}

.fa-js-square,
.fa-html5,
.fa-css3-alt,
.fa-sass,
.fa-react,
.fa-github-square,
.fa-database,
.fa-jira {
  font-size: 60px;
  color: #e91e63;
}

.fa-linkedin-in,
.fa-github,
.fa-paper-plane {
  font-size: 30px;
  color: #e91e63;
  padding: 0 10px;
}

.fa-linkedin-in:hover,
.fa-github:hover,
.fa-paper-plane:hover,
.fa-linkedin-in:focus,
.fa-github:focus,
.fa-paper-plane:focus {
  color: #3889B8;
}

.fa-paper-plane {
  font-size: 15px;
}

.footer-container {
  background: #FBC91C;
  text-align: center;
  color: #000000;
}

.footer-container p {
  font-size: 20px;
  margin: 0;
  padding: 10px 0;
  font-weight: 500;
}

.footer-container span {
  color: #e91e63;
}
